<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dht.music">

    <application>
        <service android:name="com.dht.baselib.service.MusicService" />

        <activity android:name="com.dht.music.ui.cloud.CloudDiskActivity" />
        <activity android:name="com.dht.music.ui.download.DownloadActivity" />
        <activity android:name="com.dht.music.ui.playmusic.PlayMusicActivity" />
        <activity android:name="com.dht.music.ui.recentplay.RecentPlayActivity" />
    </application>
</manifest>
